.idea/
node_modules/
_services/dozorbe_service/.vs/
_services/dozorbe_service/src/dozorbe_service/bin
_services/dozorbe_service/src/dozorbe_service/bin/Debug/netcoreapp1.0/
_services/dozorbe_service/src/dozorbe_service/bin
_services/dozorbe_service/src/dozorbe_service/bin
