body{
    background: #edeef0;
}

.year-header {
    color: green;
}

.images-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-item-container {
    cursor: pointer;
    margin-left: 1px;
    margin-right: 1px;
}

.image-item{
    height: 100px;
    width: 100px;
}

.card{
    margin-bottom: 15px;
}

.my-div-icon{
    height: 50px;
    width: 50px;
    content: url("../assets/images/mark.png");
}